<!-- Save this code in the templates folder as mri.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MRI Component</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='component_styles.css') }}"
    />
  </head>

  <body>
    {% include 'navbar.html' %}

    <section class="component-section">
      <div class="component-content">
        <h2>MRI Component</h2>
        <!-- Add your MRI component content and functionality here -->
        <form
          action="{{ url_for('mri') }}"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="mri_file"
            accept=".jpg, .jpeg, .png"
            required
          />
          <button type="submit">Predict</button>
        </form>
        {% block result %} {% if result %}
        <div class="result-section">
          <h3>Result:</h3>
          <p>{{ result }}</p>
        </div>
        {% endif %} {% endblock %}
      </div>
    </section>

    <footer>
      <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>
  </body>
</html>
