<!-- Save this code in the templates folder -->

<nav>
    <ul>
        <li><a href="{{ url_for('home') }}" {% if request.path == url_for('home') %}class="active"{% endif %}>Home</a></li>
        <li><a href="{{ url_for('prediction') }}" {% if request.path == url_for('prediction') %}class="active"{% endif %}>Prediction</a></li>
        <li><a href="{{ url_for('analysis') }}" {% if request.path == url_for('analysis') %}class="active"{% endif %}>Analysis</a></li>
        <li><a href="{{ url_for('login') }}" {% if request.path == url_for('login') %}class="active"{% endif %}>Login</a></li>
        <!-- Add a conditional check for logged-in state to display 'Profile' -->
        {% if user_authenticated %}
            <li><a href="{{ url_for('profile') }}" {% if request.path == url_for('profile') %}class="active"{% endif %}>Profile</a></li>
        {% endif %}
    </ul>
  </nav>
  